/* input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
    color: grey; opacity:1;
}
input:-moz-placeholder, textarea:-moz-placeholder {
    color: grey; opacity:1;
}
input::-moz-placeholder, textarea::-moz-placeholder {
    color: grey; opacity:1;
}
input:-ms-input-placeholder, textarea:-ms-input-placeholder {
    color: grey; opacity:1;
} */





.CartMainDiv {
    /* height: 100%; */
    width: 100%;
    display: flex;
    background-color: black;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
}
.CartDiv {
    height: 310px;
    width: 250px;
    /* background-color: black; */
    color: grey;
    box-shadow: 0 0 5px #cdd6d8;
    background-color: white;
    margin: 15px;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */

    /* margin-left: 20px; */

}
.purchasescreendiv {
    height: 100%;
    width: 100%;
    display: flex;
    flex: 1;
    /* box-shadow: 0 0 5px #cdd6d8; */
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    /* background-color: black; */
    /* margin: 10px; */
    /* flex-direction: column; */
}

.imagestyle {
    height: 80%;
    width: 100%;
    background-size: contain;
}
.gamename {
    /* margin-top: 10px; */
}
.gameprice {
    margin-top: 4px;
    font-size: 14px;
    color: black;
    font-weight: bold;
}
.innercardstyle {
    display: flex;
    flex-direction: row;
    height: 20%;
    width: 100%;
    margin-left: 12px;
    /* justify-content: space-between; */
    align-items: center;
    /* justify-content: space-around; */
}
.fontcartstyle {
    /* margin-left: 100%; */
}

.searchstyle {
/* margin: 20px; */
    height: 30px;
    width: 60%;
    border: 1px solid grey;
    border-radius: 20px;
    align-self: center;
    display: flex;
    margin: 0px auto;
    flex-direction: row;
    align-items: center;


}
.inputsearch {
    padding-left: 10px;
    /* background-color: black; */
    border-style: none;
    outline: none;
    /* color: yellow; */
}
.searchicon {
    margin-left: 10px;
    align-self: center;
}